@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .btn-green {
    @apply bg-green-500 hover:bg-green-600 hover:cursor-pointer px-2 py-2 rounded-md text-white w-full disabled:opacity-75 disabled:cursor-not-allowed;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  line-height: 1.5;
  /* font-size: 1.04rem; */
  font-size: 16px !important;
  font-weight: 400 !important;
  background-color: white;
  /* background-color: rgb(136, 127, 127) !important; */
  opacity: 1;
}

form-control {
  display: block;
  /* width: 100%; */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 1.5; */
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}

.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}

.bg-gray-gradient {
  background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101d 95.11%);
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  /* -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
} */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

/* @keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
} */

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

/* .blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #0ec6e6 100%) !important;
  filter: blur(70px) !important;
} */
.blue__gradient_1 {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #0ec6e6 100%) !important;
  filter: blur(100px) !important;
}
.blue__gradient_2 {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #0ec6e6 100%) !important;
  filter: blur(80px) !important;
}
.blue__gradient_3 {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #0ec6e6 100%) !important;
  filter: blur(110px) !important;
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}
.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-4%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce-animation {
  animation: bounce 9s infinite;
}

.whatsapp-buy {
  padding: 25rem 0 12rem;
  position: relative;
  clip-path: url(#wave-hero);
  margin-top: -290px;
  z-index: 10;
  overflow: hidden;
  background: rgb(236, 242, 246) no-repeat fixed center;
}

@media (max-width: 1100px) {
  .whatsapp-buy {
    clip-path: none;
    margin: 0;
    padding: 6rem 0;
  }
}

@media (max-width: 1100px) {
  .whatsapp-buy {
    padding: 6rem 0;
    clip-path: none;
    margin: 0;
  }
}

.whatsapp-buy > .container {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media (max-width: 1100px) {
  .whatsapp-buy > .container {
    flex-direction: column;
    align-items: flex-start;
  }
} */

/* .whatsapp-buy > .container img {
  width: 300px;
} */

/* .whatsapp-buy > .container .desktop-text {
  @media (max-width: 1100px) {
    display: none;
  }
}

.whatsapp-buy > .container .mobile-text {
  display: none;
}

@media (max-width: 1100px) {
  .whatsapp-buy > .container .mobile-text {
    display: block;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 2rem;
  }
}

.whatsapp-buy > .container .hero-image {
  width: 90%;
  transform: translateX(30px);
}

.whatsapp-buy .primary-btn {
  background: #3d8d3a;
}

.whatsapp-buy .primary-btn:hover {
  background: darken(#3d8d3a, 10);
} */

/* .circle {
  position: absolute;
  top: 300px;
  left: 400px;
  opacity: 0.4;
}

.circle img {
  width: 150px;
  animation: spin 10s linear infinite;
}

.circle__two {
  position: absolute;
  bottom: 200px;
  right: 300px;
}

.circle__three {
  position: absolute;
  top: 220px;
  right: 400px;
  filter: hue-rotate(167deg);
  animation: spin 20s linear alternate-reverse infinite;
}

.circle__three img {
  width: 150px;
}

.circle__four {
  position: absolute;
  top: 200px;
  left: 50px;
  animation: spin 20s linear alternate-reverse infinite;
}

.circle__four img {
  width: 120px;
}

.circle__two img {
  animation: spin 20s linear alternate-reverse infinite;
  width: 120px;
}

.triangle {
  position: absolute;
  left: 50px;
  bottom: 90px;
}

.triangle img {
  filter: saturate(0) brightness(1.3);
  width: 90px;
  animation: spin 4s ease-in-out infinite;
}

.stairs {
  position: absolute;
  top: 400px;
  right: 100px;
}

.stairs img {
  filter: hue-rotate(180deg);
  width: 100px;
}

@media (max-width: 1100px) {
  .circle {
    left: initial;
    right: 10px;
  }

  .circle img {
    width: 80px;
  }

  .circle__two {
    right: 20px;
    left: initial;
    bottom: 2rem;
  }

  .circle__two img {
    width: 60px;
  }

  .circle__three {
    display: none;
    left: 20px;
  }

  .circle__four {
    top: 130px;
    left: 30px;
  }

  .circle__four img {
    width: 80px;
  }

  .triangle {
    bottom: 20px;
    left: 20px;
  }

  .triangle img {
    width: 50px;
  }

  .stairs {
    top: 700px;
    right: 40px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.typed-cursor {
  color: #3d8d3a;
} */

/* .whatsapp-buy {
  padding: 25rem 0 12rem;
  position: relative;
  clip-path: url(#wave-hero);
  margin-top: -290px;
  z-index: 10;
  overflow: hidden;
  background: rgb(236, 242, 246) no-repeat fixed center;
} */

/* @media (max-width: 1100px) {
  .whatsapp-buy {
    clip-path: none;
    margin: 0;
    padding: 6rem 0;
  }
} */
/*
@media (max-width: 1100px) {
  .whatsapp-buy {
    padding: 6rem 0;
    clip-path: none;
    margin: 0;
  }
} */

/* .whatsapp-buy > .container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.category-section {
  position: relative;
  z-index: 10px !important;
  overflow: hidden;
  padding: 0;
  width: 100vw;
  /* margin-top: -200px; */
}

.category-section > .first {
  padding: 25rem 0 12rem;
  clip-path: url(#wave-hero);
  background: rgb(236, 242, 246) no-repeat fixed center;
}

.category-section > .second {
  padding-bottom: 12rem;
}

@media (max-width: 1100px) {
  .category-section > .first {
    padding: 6rem 0;
    clip-path: none;
  }
  .category-section > .second {
    padding-bottom: 6rem;
  }
}

/* .card {
  position: relative;
  overflow: hidden;
  border: 2px solid red;
} */

/* .card .category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

.card .card-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.2);
  padding: 2rem 1.5rem;
}

.card .card-text h3 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.card .card-text p {
  font-size: 1.2rem;
}

.cart {
  position: absolute;
  bottom: -15%;
  right: -15%;
  transform: rotate(-30deg);
  opacity: 0.5;
  mix-blend-mode: color-dodge;
}

.cart i {
  font-size: 20rem;
  color: #222;
}

.btn-cc {
  color: hsl(224, 83%, 9%);
  border: 1px solid hsl(224, 83%, 9%);
  background: transparent;
  padding: 0.1rem 1rem;
  font-size: 0.9rem;
}

.btn-cc:hover {
  background: hsl(224, 83%, 9%);
  color: white;
  transform: translateY(0);
}

.dotted-bg {
  background: url("/images/footer_bg.webp") !important;
  background-size: contain !important;
}

.listing {
  background: #fff;
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
}

.listing .title {
  font-size: 1.2rem;
}

.listing .subtitle {
  font-size: 1rem;
  opacity: 0.8;
}

.listing .listing-image {
  width: 100%;
  height: 300px;
}

.houses-bg {
  min-height: 250px;
  border-radius: 8px;
  background-size: cover;
  position: relative;
}

.loved {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  border-radius: 8px;
}

.loved span {
  color: #fff;
  opacity: 1;
}

.profile {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}

.profile .img {
  width: 37px;
  height: 35px;
  padding: 3px;
  border-radius: 50%;
  background: #fff;
}

.profile .img img {
  width: 100%;
  border-radius: 50%;
}

.profile .name {
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  font-size: 13px;
  color: #000;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.btn-map {
  line-height: 30px;
  min-width: 20px;
  display: flex;
  align-items: center;
}

.features {
  opacity: 0.7;
} */

.combine-section {
  padding: 25rem 0 12rem;
  position: relative;
  clip-path: url(#wave-high-left);
  /* margin-top: -290px; */
  z-index: 10;
  overflow: hidden;
  background: rgb(236, 242, 246) no-repeat fixed center;
}

@media (max-width: 1100px) {
  .combine-section {
    clip-path: none;
    margin: 0;
    padding: 6rem 0;
  }
}

@media (max-width: 1100px) {
  .combine-section {
    padding: 6rem 0;
    clip-path: none;
    margin: 0;
  }
}
.country-section {
  padding: 22rem 0 12rem;
  position: relative;
  clip-path: url(#wave-high-left);
  margin-top: -290px;
  z-index: 10;
  overflow: hidden;
  background: #fff no-repeat fixed center;
}

@media (max-width: 1100px) {
  .country-section {
    clip-path: none;
    margin: 0;
    padding: 6rem 0;
  }
}

@media (max-width: 1100px) {
  .country-section {
    padding: 6rem 0;
    clip-path: none;
    margin: 0;
  }
}

.gradient-instagram {
  background: linear-gradient(135deg, #405de6, #5851db, #833ab4, #c13584, #e1306c);
  background-size: 200% 200%;
  animation: gradient 3s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .banner-image {
  background-image: url("../public/fade-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

.fade-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}

img,
svg {
  vertical-align: middle;
} */
